{% extends 'netpitch/base.html' %}
{% load static %}

{% block title %}{{ pitch_deck.title }}{% endblock title %}

{% block content %}
<div class="container mt-5">
    <img 
        src="{% if pitch_deck.image %}{{ pitch_deck.image.url }}{% else %}{% static 'images/default_pitch_image.jpg' %}{% endif %}" 
        alt="{{ pitch_deck.title }}" 
        class="img-fluid" 
    />
    <h2>{{ pitch_deck.title }}</h2>
    <p><strong>Synopsis:</strong> {{ pitch_deck.synopsis }}</p>
    <p><strong>Theme:</strong> {{ pitch_deck.theme }}</p>
    <p><strong>Genre:</strong> {{ pitch_deck.genre.name }}</p>
    <p><strong>Type:</strong> {{ pitch_deck.pitch_type }}</p>

     <!-- Only show Edit/Delete buttons to the writer of this pitch deck -->
     {% if request.user == pitch_deck.writer %}
     <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <a href="{% url 'edit_pitch_deck' pitch_deck.id %}" class="btn btn-purple btn-block">Edit</a>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <form action="{% url 'delete_pitch_deck' pitch_deck.id %}" method="post" style="display:inline;">
             {% csrf_token %}
             <button type="submit" class="btn btn-delete btn-block" onclick="return confirm('Are you sure you want to delete this pitch deck?');">Delete</button>
            </div>
        </div>
        </form>
     </div>
     {% endif %}
<!-- For -->
     {% if user.profile.user_type == 'Producer' %}
    <a href="{% url 'submit_collaboration_request' pitch_deck.id %}" class="btn btn-purple btn-block">Collaborate!</a>
    {% endif %}

</div>
{% endblock content %}