{% extends 'netpitch/base.html' %}
{% load static %}

{% block content %}
<h1>{{ profile.user.username }}'s Profile</h1>
<p>{{ profile.bio }}</p>
<img src="{% if user.profile.profile_image %}{{ user.profile.profile_image.url }}{% else %}{% static 'default.jpg' %}{% endif %}" alt="{{ user.username }}">

<h2>Your Collaboration Requests</h2>
<ul>
    {% for request in collaboration_requests %}
        <li>
            <strong>{{ request.pitch.title }}</strong> - {{ request.status }}
            <a href="#">View Pitch</a>
        </li>
    {% empty %}
        <li>No collaboration requests yet.</li>
    {% endfor %}
</ul>
{% endblock %}