{% extends 'netpitch/base.html' %}

{% block title %}Welcome{% endblock title %}

{% block content %}
<div class="container container-small full-height">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="cool-title mb-4">Welcome to NetPitch</h1>
            <p class="lead mb-5">The platform where writers and producers collaborate on new ideas.</p>

            <div class="d-flex justify-content-center">
                <a href="{% url 'signup' %}" class="btn btn-purple btn-lg me-3">Sign Up</a>
                <a href="{% url 'login' %}" class="btn btn-purple btn-lg">Log In</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}